= render :partial => 'flasher'
= render :partial => 'controls'

%div.reader_show
  - if @reader == current_reader
    %p.system_message
      %strong
        Hello 
        = @reader.name + '.'

  - if @reader.description.blank?
    %p No description available.
  - else
    = clean_textilize @reader.description

  = render :partial => 'contributions'
      
- content_for :breadhead do
  = link_to 'People', '/readers'

- content_for :breadcrumbs do
  = link_to 'Home', '/'
  &gt;
  = link_to 'People', '/readers'
  &gt;
  = @reader.name

- content_for :title do
  = @reader.name

