%tr.node.level-1
  - render_region :tbody do |tbody|
    - tbody.title_cell do
      %td{:class => reader.activated? ? 'reader activated' : 'reader inactive'}
        = link_to gravatar_for(reader, {:size => 24}, {:width => 24, :height => 24}), edit_admin_reader_url(reader)
        = link_to reader.name, edit_admin_reader_url(reader), :class => reader.trusted? ? '' : 'untrusted'

    - tbody.description_cell do
      %td.reader_description
        %p.admin_notes= link_to( image('add-note', :alt => 'Add Note'), new_admin_note_url(:reader_id => reader.id) )

    - tbody.downloads_cell do
      %td.reader_downloads
        = link_to('View Downloads', admin_downloads_url(:reader => reader.id))
      
    - tbody.modify_cell do
      %td.remove
        - if admin?
          = link_to(image('remove', :alt => 'Remove Reader'), admin_reader_url(reader), :method => :delete, :confirm => "really delete reader #{reader.name}?") 
